#header {
    clear: both;
    float: left;
    width: 100%;
    background: #7999a9;
    border-bottom: 1px solid #000;
}

#header p {
    padding: .4em 15px 0 15px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: linear-gradient(#fff, #ccc) fixed;
    /*min-width:600px;*/
    display: table;
}

.userphoto {
    width: 300px;
    height: 450px;
    float: left;
    margin: 7px 36px 7px 0;
}

.wrap {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.page_layout {
    float: left;
    width: 100%;
    position: relative;
}

.content,
.left_menu {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}

.left {
    background: #fff;
}

.left .page_layout {
    right: 85%;
    background: #f4f4f4;
}

.left .content {
    width: 71%;
    left: 102%;
}

.left .left_menu {
    width: 14%;
    left: 15%;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
    background: #7999a9;
}

#footer p {
    padding: 10px;
    margin: 0;
}