<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap 101 Template</title>

	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<!--header to include start-->
<div class="navbar navbar-inverse navbar-fixed-top" id="header-bar"> <!--navbar-static-top-->
	<div class="container"><!-- style="width: 900px"-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><i class="glyphicon glyphicon-star-empty"></i>YASN</a>
		</div>

		<div class="collapse navbar-collapse" id="responsive-menu">
			<div class="row">
				<ul class="nav navbar-nav">
					<li><a href="#"><i class="glyphicon glyphicon-"></i> Меню 1</a></li>
					<li><a href="#">Меню 2</a></li>
					<li><a href="#">Меню 3</a></li>
				</ul>

				<form class="input-group input-group-sm navbar-form navbar-right" role="form">
					<div class="form-group">
						<input type="text" class="form-control pull-left" placeholder="Search by name or nick">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<!--end top menu-->

<div class="container" style="margin-top: 60px" id="page"> <!--width: 900px-->
	<div class="row">


		<div class="col-sm-3" id="left-menu">
			<div class="row" id="logged-info">
				<div class="col-sm-2">
					<img class="img-circle" src="img/default-photo.jpg" width="30" height="45">
				</div>
				<div class="col-sm-8">
					<p style="margin-bottom: 0.5em">Имя фамилия</p>
					<p>Logout</p>
				</div>
			</div>

			<ul class="list-group">
				<li class="list-group-item"><i class="glyphicon glyphicon-home"></i> Home</li>
				<li class="list-group-item"><i class="glyphicon glyphicon-comment"></i> Messages<span
						class="badge">2</span></li>
				<li class="list-group-item"><i class="glyphicon glyphicon-link"></i> Friends</li>
				<li class="list-group-item"><i class="glyphicon glyphicon-search"></i> Advanced search</li>
				<li class="list-group-item"><i class="glyphicon glyphicon-cog"></i> Profile edit</li>
				<li class="list-group-item"><i class="glyphicon glyphicon-eye-close"></i> Security edit</li>
			</ul>
		</div>
		<!--end left-menu-->


		<div class="col-sm-9" id="page-content">
			<div class="alert alert-success alert-dismissable" id="system-message">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Done!</strong> You logged in successfully.
			</div>
			<div class="row">
				<div class="col-sm-5">
					<a href="#" class="thumbnail">
						<img class="img-rounded" data-src="holder.js/100%x180" alt="ava" src="img/default-photo.jpg">
					</a>
				</div>
				<div class="col-sm-7">
					<h1 style="margin-top: 5px">Чья Стена</h1>

					<h2>Known as fdgdfg</h2>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Information</h3>
						</div>
						<div class="panel-body" id="user-info">
							<dl class="dl-horizontal">
								<dt>ID:</dt>
								<dd>2323</dd>
								<dt>Name:</dt>
								<dd>yydyf</dd>
								<dt>Gender:</dt>
								<dd>male</dd>
								<dt>Birth:</dt>
								<dd>22222</dd>
								<dt>Age:</dt>
								<dd>20</dd>
								<dt>Born in:</dt>
								<dd>Moscow, Russia</dd>
								<dt>Live in:</dt>
								<dd>Kiev, Ukraine</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page-content-->
	</div>
</div>
<!--end container-->


<!--<div class="container">
	<div class="row">
		<p>
			<a href="#" class="btn btn-primary btn-lg">Default</a>
			<a href="#" class="btn btn-default">Default</a>
			<a href="#" class="btn btn-primary btn-md">Default</a>
			<a href="#" class="btn btn-primary btn-sm">Default</a>
			<a href="#" class="btn btn-primary btn-xs">Default</a>
		</p>

		<p>
			<a href="#" class="btn btn-default btn-block">Блок</a>
		</p>

		<div class="btn-group">
			<a href="#" class="btn btn-success">Male</a>
			<a href="#" class="btn btn-success">Female</a>
		</div>
		<div class="btn-group-vertical">
			<a href="#" class="btn btn-success">Male</a>
			<a href="#" class="btn btn-success">Female</a>
		</div>

		<div class="btn-group">
			<div class="btn btn-group btn-group-sm dropdown-toggle" data-toggle="dropdown">
				Страны <span class="caret"></span>
			</div>
			<ul class="dropdown-menu">
				<li><a href="#" class="btn btn-warning">Male</a></li>
				<li><a href="#">Female</a></li>
				<li><a href="#">Харьков</a></li>
			</ul>
		</div>


	</div>
</div>-->

<!--<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-1 col-md-3">111</div>
		<div class="col-lg-8 col-md-6">222</div>
		<div class="col-lg-1 col-md-3">333</div>
	</div>
</div>-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
</body>
</html>